.app {
  padding: 50px;
  box-sizing: border-box;
  background: rgba(214, 214, 214, 0.24);
  border-radius: 45px;
  -webkit-box-shadow: 7px 11px 56px -20px rgba(255,255,255,1);
-moz-box-shadow: 7px 11px 56px -20px rgba(255,255,255,1);
box-shadow: 7px 11px 56px -20px rgba(255,255,255,1);
    p {
      color: rgb(243, 244, 250);
    }
}